* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: linear-gradient(135deg, #a9c5ff, #7cc4b8);
    padding: 30px;
}
h1{
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
h3{
    color: #012acf;
    font-weight: bolder;
    font-size: 22px;
    text-align: start;
    padding-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    
}
label {
    margin-top: 10px;
    font-weight: bold;
}
input, select, textarea {
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

textarea {
    resize: none;
    height: 70px;
}
button{
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #062086, #7b2ff7);
    color: white;
    cursor: pointer;

}
.btn1{
    width: 49%;
    
}
.btn2{
    width: 50%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upper-div{
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
    justify-content: space-between;
    width: 80%;
    
}
.eventform{
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width: 30%;
    
}
.events{
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width: 68%;
}
.deleteCard{
    position: absolute;
    top: 10px;
    right: 5px;
    background-color: red;
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 15px;
}
.deleteCard:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
    opacity: 0.9;
    background-color: #ff6822;

}
.dom{
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width: 80%;

}

.cards{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.card {
    background: linear-gradient(135deg,rgb(204, 204, 204),rgb(147, 202, 195));
    border-radius: 6px;
    padding: 15px;
    margin-top: 15px;
    box-shadow: 0 1px 3px rgba(51, 40, 40, 0.06);
    position: relative;
    width: 49%;
    text-align: start;
    transition: 0.3s ease-in-out;
    width: 49%;
    
}
.card:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
    opacity: 0.9;
}


@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
    
    .events > button {
        width: 100%;
        margin-right: 0;
    }
}